// These are a few things that are going to be
// true on almost every upstatement page, and
// cant find a home anywhere else

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}


// These selection declarations have to be separate.
//   No text-shadow: twitter.com/miketaylr/status/12228805301
//   Also: hot pink.
::-moz-selection{ background: $green; }
::selection { background: $green; }

a:link { -webkit-tap-highlight-color: $green; }

body {
	// -webkit-font-smoothing: antialiased;
	background-color: white;
	color: $text;
}

.video-embed {
	@include video;
}

.resp-img {
	max-width: 100%;
}
