// These are a few things that are going to be
// true on almost every upstatement page, and
// cant find a home anywhere else

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}

body {
	background-color: $bg-black;
	color: $text;
}

.video-embed {
	@include video;
}

.resp-img {
	max-width: 100%;
}
