<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Happy Everything from Upstatement!</title>
	<meta name="description" content="I like turtles.">
	<meta name="author" content="">

	<!--[if lte IE 9 ]>
		<meta http-equiv="X-UA-Compatible" content="IE=6">
		<style type="text/css">

		#printout {
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    padding: 0;
		    margin: 0;
		    height: 0;
		}

		</style>
	<![endif]-->

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

	<!-- Icons -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{file.path}}css/screen.css?v=2">

	<script type="text/javascript">//<![CDATA[
			// Google Analytics for WordPress by Yoast v4.2.8 | http://yoast.com/wordpress/google-analytics/
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1051809-3']);
							_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
			//]]></script>


</head>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body>
	<div id="container">
		<header>

		</header>

			<div id="printout">
				<pre>
					<span>* * *</span>
					HAPPY CHRISTMAS
					HAPPY HANUKKAH
					HAPPY KWANZAA
					HAPPY NEW YEAR
					HAPPY EVERYTHING
					<span>* * *</span>

					From everyone at Upstatement
				</pre>
				<div id="fine-print">
					Card by your friends at <a href="http://upstatement.com/" target="_blank"><u>Upstatement</u></a>. Rad snow code by <a href="https://github.com/jackshepherd" target="_blank"><u>Jack Shepherd</u></a>.
				</div> <!-- .fine-print -->
			</div>

		<div id="main" role="main">

			<div id="snowflakesInfoContainer"></div>
			<div id="snowflakesContainer"></div>

			<!--
				This is a special hidden text area because IE8 fucks up line breaks.
				We have to use $('#ie_code').val() instead of $('#code').text()
			 -->
			<textarea id="ie_code">
				 10  A$ = "Happy "
				 20  B$(0)="Christmas"
				 30  B$(1)="Hanukkah"
				 40  B$(2)="Kwanzaa"
				 50  B$(3)="New Year"
				 60  B$(4)="Everything"
				 90  END_

				PRESS ENTER TO PRINT</textarea> <!-- no line break allowed /ie -->

			<div id="computer-holder">
				<div id="computer">
					<div id="screen">
						<pre id="code">
							 10  A$ = "Happy "
							 20  DIM B$(4)
							 30  B$(0)="Christmas"
							 40  B$(1)="Hanukkah"
							 50  B$(2)="Kwanzaa"
							 60  B$(3)="New Year"
							 70  B$(4)="Everything"
							 80  FOR Y=0 TO 4
							 90  PRINT A$ + B$(Y)_
							100  NEXT Y_
							110  END_
							_
							<span class="can_touch">PRESS ENTER</span> TO PRINT</pre>
					</div>
				</div>
			</div>

			<div id="newton-holder">
				<div id="newton-screen">
					<div id="newton">
						<img src="{{file.path}}img/punch.gif"/>
					</div>
				</div>
			</div>

			<div id="wall">
			</div>

			<div id="table">
			</div>


		</div>
		<footer>

		</footer>
	</div> <!-- eo #container -->



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Scripts					-->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  	<!-- Project-Specific stuff, start with up-base and go into script.js for your code --> 

	<script type="text/javascript" src="{{file.path}}js/libs/jquery-1.7.2.min.js"></script>

	<!--[if lte IE 9 ]>
		<script type="text/javascript" src="{{file.path}}/js/ie-anim-fix.js"></script>
	<![endif]-->

	<script type="text/javascript" src="{{file.path}}js/libs/jquery.transit.min.js"></script>

	<!--[if lt IE 9 ]>
		<script type="text/javascript" src="{{file.path}}js/libs/respond.js"></script>
	<![endif]-->

	<script type="text/javascript" src="{{file.path}}js/libs/modernizr-2.6.1.min.js"></script>
	<script type="text/javascript" src="{{file.path}}js/script.js"></script>

	<!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '50d369fe613f5d20b2000033');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>

</body>
</html>