{% extends "base.twig" %}
{% block content %}
<article id="post-0" class="post error404 not-found" role="main">

	<div class="page-404">
		<div class="page-404-text">
			<h1 class="page-404-h1">You broke it!</h1>
			<p class="txt-lg">Or we broke it. Or something else happened. Either way, there's nothing here. We'll tell our IT guy. He's good with computers.</p>
		</div>
	</div>
</article>

{% endblock %}