{% include 'mods/html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">

        {% include "mods/header.twig" %}

        <section id="content" role="main">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </section>

        {% include "mods/footer.twig" %}

        {{ function('wp_footer') }}
        {% block scripts %}

        {% endblock %}
    </body>
</html>
