{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{post.css_file}}" />
{% endblock %}
{% block content %}
<style type="text/css">
	#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class="home-banner" style="display:block">
	<img class="home-banner-img" src="/wp-content/themes/blades/images/holiday-2k13-topper.jpg" alt="Upstatement Holiday Card Movie">
	<a href="#"><img class="holiday-play-btn" src="/wp-content/themes/blades/images/holiday-play-btn.png" alt="Holiday Play Button"></a>
</div> <!-- /home-banner -->

<div class="hp-topper-intro holiday-bg ">
	<div class="portfolio-h-outer">
		<div class="portfolio-h-inner">
			<h1 class="txt-lg hp-intro-txt">Happy Holidays from Upstatement!  We’d like to share with you a behind-the-scenes look at the making of our holiday gift set.</h1>
		</div><!-- /portfolio-h-inner -->
	</div><!-- /portfolio-h-outer -->
</div><!-- /hp-topper-intro -->

<section class="hp-themes home-inset holiday-bg">
		<div class="wrapper">
			<div class="hp-theme-alt">
				<div class="tiles-mod">

					<div class="tile-row-mod">
						<div class="alt-tile tile-border no-border ui-block-1">
							<img class="alt-tile-img" src="/wp-content/themes/blades/images/holiday-tradition.jpg" alt="Upstatement Tradition"/>
							<h2 class="highlight-headline">An Upstatement Tradition</h2>
							<div class="txt-lg txt-dark">
								<p>We’re excited to not only keep this tradition alive but thrilled to have expanded upon the concept of the holiday card and included 100 handmade gift boxes into the mix. We also take pride in the fact that every component was printed locally and made-by-hand here in Boston!</p>
							</div><!-- /txt-lg -->
						</div> <!-- /alt-tile -->	

						<div class="alt-tile tile-border ui-block-2">
							<img class="alt-tile-img" src="/wp-content/themes/blades/images/holiday-100-years.jpg" alt="Celebrating 100 Years"/>
							<h2 class="highlight-headline">Celebrating 100 Years</h2>
							<div class="txt-lg txt-dark">
								<p>The inspiration for our holiday card was found right here at Upstatement HQ. Our home at 319 A Street in the Fort Point neighborhood of Boston is celebrating its 100th Birthday this year! Our web design dojo graces the front of this year’s card and the coaster set shares views from our neighborhood.</p>
							</div><!-- /txt-lg -->
						</div> <!-- /alt-tile -->
					</div> <!-- /tile-row-mod -->

				</div> <!-- /tiles-mod -->	
			</div> <!-- /hp-theme-alt -->	
		</div> <!-- /wrapper -->
</section> <!-- /hp-themes -->

<div class="hp-logo-pond holiday-pond">
	<section class="logo-pond-mod">
		<a class="pond-item holiday-pond-img" href="http://www.dangerawesome.co/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-danger-awesome.png" alt="Danger Awesome" />
		</a>

		<a class="pond-item holiday-pond-img" href="http://weinbergdesign.com/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-weinberg.png" alt="Weinberg Design" /></a>

		<a class="pond-item holiday-pond-img" href="http://www.bostoncoasters.com/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-boston-coasters.png" alt="Boston Coasters" /></a>
	</section> <!-- /logo-pond-mod -->	
</div> <!-- /hp-logo-pond -->	

<section class="mailing-list-mod">
	<div class="sign-up-mod ui-block-1">
		<h2 class="highlight-headline">Stay Up on the Latest Scuttlebutt!</h2>
	<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

		<div id="mc_embed_signup">
		<form action="http://upstatement.us4.list-manage.com/subscribe/post?u=7d114d141c378a0c2631d88f0&amp;id=db65f6ed77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address </label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name </label>
			<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-LNAME">Last Name </label>
			<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7d114d141c378a0c2631d88f0_db65f6ed77" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</form>
		</div>
		<script type="text/javascript">
		var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
		try {
		    var jqueryLoaded=jQuery;
		    jqueryLoaded=true;
		} catch(err) {
		    var jqueryLoaded=false;
		}
		var head= document.getElementsByTagName('head')[0];
		if (!jqueryLoaded) {
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
		    head.appendChild(script);
		    if (script.readyState && script.onload!==null){
		        script.onreadystatechange= function () {
		              if (this.readyState == 'complete') mce_preload_check();
		        }    
		    }
		}

		var err_style = '';
		try{
		    err_style = mc_custom_error_style;
		} catch(e){
		    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
		}
		var head= document.getElementsByTagName('head')[0];
		var style= document.createElement('style');
		style.type= 'text/css';
		if (style.styleSheet) {
		  style.styleSheet.cssText = err_style;
		} else {
		  style.appendChild(document.createTextNode(err_style));
		}
		head.appendChild(style);
		setTimeout('mce_preload_check();', 250);

		var mce_preload_checks = 0;
		function mce_preload_check(){
		    if (mce_preload_checks>40) return;
		    mce_preload_checks++;
		    try {
		        var jqueryLoaded=jQuery;
		    } catch(err) {
		        setTimeout('mce_preload_check();', 250);
		        return;
		    }
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
		    head.appendChild(script);
		    try {
		        var validatorLoaded=jQuery("#fake-form").validate({});
		    } catch(err) {
		        setTimeout('mce_preload_check();', 250);
		        return;
		    }
		    mce_init_form();
		}
		function mce_init_form(){
		    jQuery(document).ready( function($) {
		      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
		      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
		      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
		      options = { url: 'http://upstatement.us4.list-manage1.com/subscribe/post-json?u=7d114d141c378a0c2631d88f0&id=db65f6ed77&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
		                    beforeSubmit: function(){
		                        $('#mce_tmp_error_msg').remove();
		                        $('.datefield','#mc_embed_signup').each(
		                            function(){
		                                var txt = 'filled';
		                                var fields = new Array();
		                                var i = 0;
		                                $(':text', this).each(
		                                    function(){
		                                        fields[i] = this;
		                                        i++;
		                                    });
		                                $(':hidden', this).each(
		                                    function(){
		                                        var bday = false;
		                                        if (fields.length == 2){
		                                            bday = true;
		                                            fields[2] = {'value':1970};//trick birthdays into having years
		                                        }
		                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
		                                    		this.value = '';
											    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
		                                    		this.value = '';
											    } else {
											        if (/\[day\]/.test(fields[0].name)){
		    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
											        } else {
		    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
			                                        }
			                                    }
		                                    });
		                            });
		                        $('.phonefield-us','#mc_embed_signup').each(
		                            function(){
		                                var fields = new Array();
		                                var i = 0;
		                                $(':text', this).each(
		                                    function(){
		                                        fields[i] = this;
		                                        i++;
		                                    });
		                                $(':hidden', this).each(
		                                    function(){
		                                        if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
		                                    		this.value = '';
											    } else {
											        this.value = 'filled';
			                                    }
		                                    });
		                            });
		                        return mce_validator.form();
		                    }, 
		                    success: mce_success_cb
		                };
		      $('#mc-embedded-subscribe-form').ajaxForm(options);
		      
		      
		    });
		}
		function mce_success_cb(resp){
		    $('#mce-success-response').hide();
		    $('#mce-error-response').hide();
		    if (resp.result=="success"){
		        $('#mce-'+resp.result+'-response').show();
		        $('#mce-'+resp.result+'-response').html(resp.msg);
		        $('#mc-embedded-subscribe-form').each(function(){
		            this.reset();
		    	});
		    } else {
		        var index = -1;
		        var msg;
		        try {
		            var parts = resp.msg.split(' - ',2);
		            if (parts[1]==undefined){
		                msg = resp.msg;
		            } else {
		                i = parseInt(parts[0]);
		                if (i.toString() == parts[0]){
		                    index = parts[0];
		                    msg = parts[1];
		                } else {
		                    index = -1;
		                    msg = resp.msg;
		                }
		            }
		        } catch(e){
		            index = -1;
		            msg = resp.msg;
		        }
		        try{
		            if (index== -1){
		                $('#mce-'+resp.result+'-response').show();
		                $('#mce-'+resp.result+'-response').html(msg);            
		            } else {
		                err_id = 'mce_tmp_error_msg';
		                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
		                
		                var input_id = '#mc_embed_signup';
		                var f = $(input_id);
		                if (ftypes[index]=='address'){
		                    input_id = '#mce-'+fnames[index]+'-addr1';
		                    f = $(input_id).parent().parent().get(0);
		                } else if (ftypes[index]=='date'){
		                    input_id = '#mce-'+fnames[index]+'-month';
		                    f = $(input_id).parent().parent().get(0);
		                } else {
		                    input_id = '#mce-'+fnames[index];
		                    f = $().parent(input_id).get(0);
		                }
		                if (f){
		                    $(f).append(html);
		                    $(input_id).focus();
		                } else {
		                    $('#mce-'+resp.result+'-response').show();
		                    $('#mce-'+resp.result+'-response').html(msg);
		                }
		            }
		        } catch(e){
		            $('#mce-'+resp.result+'-response').show();
		            $('#mce-'+resp.result+'-response').html(msg);
		        }
		    }
		}

		</script>
		<!--End mc_embed_signup-->
	</div> <!-- /sign-up-mod -->	
	
	<div class="mailing-list-copy txt-lg txt-dark ui-block-2">
		<p>Good news everyone—Keeping in touch with Upstatement is fun and easy to do! We’ll keep you posted about our seasonal drinks events, holiday news and other fun highlights throughout the year. We send out one-or-two emails per season. Promise!</p>
	</div> <!-- /mailing-list-copy -->	

</section> <!-- /mailing-list-mod -->

<div class="page-banner-img">
	<img src="/wp-content/themes/blades/images/holiday-box-btm.jpg" alt="Upstatement Holiday Crate">
</div> <!-- /home-banner -->


{% endblock %}


