{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{post.css_file}}" />
{% endblock %}
{% block content %}
<style type="text/css">
	#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class="holiday-2k13-mod">
	<div class="holiday-2k13-banner">
		<img class="home-banner-img" src="/wp-content/themes/blades/images/holiday-2k13-topper.jpg" alt="Upstatement Holiday Card Movie">

		<div href="#" class="vimeo-target"><img class="holiday-play-btn" src="/wp-content/themes/blades/images/holiday-play-btn.png" alt="Holiday Play Button">
			<div class="holiday-movie-mod"></div>
		</div>
	</div> <!-- /home-banner -->

	<small class="metal-mode">MAKE METALLICA</small>

	<div class="hp-topper-intro holiday-bg ">
		<div class="portfolio-h-outer holiday-h-outer">
			<div class="portfolio-h-inner">
				<h1 class="holiday-intro-txt">Happy Everything from Upstatement!</h1>
				<h3 class="subline holiday-deck">For the holidays, we milled, sawed, cut, and printed a set of cards and coasters just for you.</h3>
			</div><!-- /portfolio-h-inner -->
		</div><!-- /portfolio-h-outer -->
	</div><!-- /hp-topper-intro -->

</div> <!-- /holiday-2k13-mod -->

<section class="hp-themes home-inset holiday-bg">
		<div class="wrapper">
			<div class="hp-theme-alt">
				<div class="tiles-mod">

					<div class="tile-row-mod">
						<div class="alt-tile tile-border no-border ui-block-1">

							<a href="/happy-holidays/holiday-card-2012"><img class="alt-tile-img" src="/wp-content/themes/blades/images/holiday-100-years.jpg" alt="Celebrating 100 Years"/></a>
							<h2 class="highlight-headline"><a href="/happy-holidays/holiday-card-2012">An Upstatement Tradition</a></h2>
							<div class="txt-lg holiday-txt">
								<p>We’re excited to keep <a href="http://upstatement.com/happy-holidays/holiday-card-2012">our tradition of making holiday cards</a> alive this year with a new addition &mdash; 100 custom gift boxes. Every component was printed locally and made-by-hand here in Boston!</p>
							</div><!-- /txt-lg -->
						</div> <!-- /alt-tile -->

						<div class="alt-tile tile-border ui-block-2">
							<a href="http://www.flickr.com/photos/boston_public_library/sets/72157625033396759/"><img class="alt-tile-img" src="/wp-content/themes/blades/images/hc-wharf.jpg" alt="Upstatement Tradition"/></a>
							<h2 class="highlight-headline"><a href="http://www.flickr.com/photos/boston_public_library/sets/72157625033396759/">Celebrating a Century</a></h2>
							<div class="txt-lg holiday-txt">
								<p>We found inspiration for our holiday card right here at Upstatement HQ. The card features our building in Fort Point, which celebrates its 100th birthday this year. The coaster set shares views from the neighborhood at the turn of the century.</p>
							</div><!-- /txt-lg -->
						</div> <!-- /alt-tile -->
					</div> <!-- /tile-row-mod -->

				</div> <!-- /tiles-mod -->
			</div> <!-- /hp-theme-alt -->
		</div> <!-- /wrapper -->
</section> <!-- /hp-themes -->

<div class="hp-logo-pond holiday-pond">
	<section class="logo-pond-mod">
		<a class="pond-item holiday-pond-img" href="http://www.dangerawesome.co/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-danger-awesome.png" alt="Danger Awesome" />
		</a>

		<a class="pond-item holiday-pond-img" href="http://weinbergdesign.com/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-weinberg.png" alt="Weinberg Design" /></a>

		<a class="pond-item holiday-pond-img" href="http://www.bostoncoasters.com/" target="_blank"> <img src="/wp-content/themes/blades/images/logo-boston-coasters.png" alt="Boston Coasters" /></a>
	</section> <!-- /logo-pond-mod -->	
</div> <!-- /hp-logo-pond -->	

<section class="mailing-list-mod">
	<div class="sign-up-mod ui-block-1">
		<h2 class="highlight-headline">Stay Up on the Latest Scuttlebutt!</h2>
		<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://upstatement.us4.list-manage.com/subscribe/post?u=7d114d141c378a0c2631d88f0&amp;id=db65f6ed77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
	<div class="mc-field-group">
		<label for="mce-EMAIL" class="a11y-only">Email Address </label>
		<input type="email" value="" name="EMAIL" placeholder="Email" class="required email" id="mce-EMAIL">
	</div>
	<div class="mc-field-group">
		<label for="mce-FNAME" class="a11y-only">First Name </label>
		<input type="text" value="" name="FNAME" placeholder="First Name" class="" id="mce-FNAME">
	</div>
	<div class="mc-field-group">
		<label for="mce-LNAME" class="a11y-only">Last Name </label>
		<input type="text" value="" name="LNAME" placeholder="Last Name" class="" id="mce-LNAME">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7d114d141c378a0c2631d88f0_db65f6ed77" value=""></div>
		<div class="clear holiday-submit-mod"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button holiday-submit"></div>
	</form>
	</div>

	<!--End mc_embed_signup-->
	
	</div> <!-- /sign-up-mod -->	
	
	<div class="mailing-list-copy txt-lg txt-dark ui-block-2">
		<p>Good news everyone &mdash; keeping in touch with Upstatement is fun and easy to do! We’ll keep you posted about our seasonal drinks events, holiday news, and other fun highlights throughout the year. We send out one-or-two emails per season. Promise!</p>
	</div> <!-- /mailing-list-copy -->	

</section> <!-- /mailing-list-mod -->

<div class="page-banner-img">
	<img src="/wp-content/themes/blades/images/holiday-box-btm.jpg" alt="Upstatement Holiday Crate">
</div> <!-- /home-banner -->


{% endblock %}


