{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{post.css_file}}" />
{% endblock %}
{% block content %}
<div class="blog-banner-container drinks-banner">
	<div class="banner-img-mod">
		<img class="blog-banner-image drinks-buildings" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/buildings-bg.png">

		<img class="blog-banner-image drinks-sign-neon fadein" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/drinks-sign-neon-2.png">

		<img class="blog-banner-image drinks-sign" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/drinks-sign-2.png">
	</div><!-- /banner-img-mod -->	
</div> <!-- /blog-banner-container -->

<div class="inset">
	<div class="wrapper">
		<h3 class="h4 portfolio-promo-kicker drinks-kicker">Fun is more fun with friends</h3>
		<h1 class="h1 cover-msg">Join us October 2nd at 5pm!</h1>
	</div> <!-- /wrapper -->
</div>

<div class="wrapper">
	<div class="grid-container-3">
		<article class="media-block">
			<h4 class="h3">It’s Real Life</h4>
			<p class="txt">This get-together is unfettered by itineraries. Show up, be yourself, and leave when you feel like it.</p>
			<p class="txt">It&rsquo;s more about putting up your feet with friends than hyper-focused talks.</p>
		</article>
		
		<article class="media-block">
			<h4 class="h3">Spirits and <em>Spirits</em></h4>
			<p class="txt">We know a lot of rocking people, and those people know rocking people, and so on. Let’s all hang out!</p>
			<p class="txt">Invite a friend, and contribute an adult beverage to the effort.</p>
		</article>

		<article class="media-block">
			<h4 class="h3">See You There!</h4>
			<p class="txt">We’ll curate a gourmet snackfest which will feature some delicious cheeses, and a few kick-ass whiskies with which to whet your whistle (while they last!).</p>
			<p class="txt">Get details of the event on Facebook.</p>
		</article>
	</div> <!-- /about-people-grid -->

	<p class="fbook-btn-mod"><a href="https://www.facebook.com/events/192257154288276/" target="_blank"><img src="/wp-content/themes/blades/images/drink/facebook_button.png"></a></p>

<!-- 	<section class="about-intro">
		<div class="wrapper">
			<h2 class="section-h">The Gourmet Snackfest</h2>
			<div class="l-txt txt-lg"><p>We are pleased to be working with our new friends at Bee&rsquo;s Knees Supply Co., a gourmet grocery and catering company opening soon in South Boston.</p></div>
			<div class="provisions">
				<a href="http://www.beeskneessupply.com"><img src="/wp-content/themes/blades/images/drink/beesknees.png"></a>
			</div>
		</div> 
	</section> -->

</div> <!-- /wrapper -->

<audio preload="auto" tabindex="0" autoplay="true" loop="true">
    <source src="/wp-content/themes/blades/images/drink/neon-hum.mp3" type="audio/mpeg" />
</audio>
<audio preload="auto" tabindex="0" autoplay="true" loop="true">
    <source src="/wp-content/themes/blades/images/drink/car-passing.mp3" type="audio/mpeg" />
</audio>
{% endblock %}


