<section class="archive-blog-ftr">
	<div class="wrapper">
		
		<div class="ui-block-1">
			<form role="search" method="get" id="searchform" action="http://localhost/">
				<div><label class="screen-reader-text" for="s">Search for:</label>
				<input type="text" value="" name="s" id="s">
				<input type="submit" id="searchsubmit" value="Search">
				</div>
			</form>
		</div>

		<div class="ui-block-2">
			<h3>Here's what we write about:</h3>
			<ul>
			{% for tag in tags %}
				<li><a href="{{tag.link}}">{{tag.name|title}}</a></li>
			{% endfor %}
			</ul>
		</div>

		<div class="ui-block-3">

		</div>

	</div>
</section>