<div class="site-width">
	<div class="bcom-stream-section noclick"  id="section-3">
		<div class="message-mod">
			<div class="stream-message stream-message-1">
				<h3 class="stream-message-h">Introducing the News&nbsp;Stream</h3>
				<p class="stream-message-p">The stream combines traditional headlines with a variety of new content, including interactive polls, live scoreboards, selected tweets, and calls to action for the community.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-2">
				<h3 class="stream-message-h">News Loads in Real Time</h3>
				<p class="stream-message-p">New stories appear as they happen. At any moment, the stream provides a snapshot of what’s happening in the city.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-3">
				<h3 class="stream-message-h">Never Miss a Play</h3>
				<p class="stream-message-p">Live scoreboards stay pinned to the top while games are in progress, which means users will catch every Big Papi home run or Tom Brady touchdown.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-4">
				<h3 class="stream-message-h">Instantly Watch Video</h3>
				<p class="stream-message-p">One click is all it takes to watch a video. Since speed is paramount, videos expand to play right in place &mdash; and you won&rsquo;t even lose your place in the stream.</em></p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-5">
				<h3 class="stream-message-h">Catch Relevant Tweets</h3>
				<p class="stream-message-p">Curated tweets appear from two main sources: People in the community and Boston.com personalities like weather guru Dave Epstein of Love Letters.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-6">
				<h3 class="stream-message-h">Cast Your Vote</h3>
				<p class="stream-message-p">You can do more than just click headlines in the stream. Several interactive teases (like this poll) take input directly from the user.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
			<div class="stream-message stream-message-7">
				<h3 class="stream-message-h">Voice Your Opinion</h3>
				<p class="stream-message-p">Boston.com is all about the community. Users can join the conversation about hot topics without leaving the homepage.</p>
			<button class="portfolio-btn-small">Next</button>
			</div>
		</div>

		<div class="device-content-mod">
			<div class="ipad-browser-chrome">
				<div class="ipad-screen-mod">
					<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-filter-mobile.jpg" class="stream-img-filter"/>
					<div class="stream-img-mod">
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-button.jpg" class="stream-img-button"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-2.jpg" class="stream-img-2"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-3.jpg" class="stream-img stream-img-3"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-video.gif" class="stream-img stream-img-video"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-4.jpg" class="stream-img stream-img-4"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-5.jpg" class="stream-img stream-img-5"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-6.jpg" class="stream-img stream-img-6"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-7.jpg" class="stream-img stream-img-7"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-8.jpg" class="stream-img stream-img-8"/>
					</div>
				</div>
				<i class="ipad-home-button"></i>
			</div>
		</div>
	</div>
</div>
