<section class="hlr-chars-mod">

	<article class="hlr-char hlr-char-oldseven">
		<img class="hlr-char-img" src="/{{theme_dir}}/images/portfolio/hlr/type-k-oldseven.png ">
		<p class="hlr-char-name">Old Style 7</p>
	</article> {# /hlr-char #}

	<article class="hlr-char hlr-char-hoefler">
		<img class="hlr-char-img" src="/{{theme_dir}}/images/portfolio/hlr/type-k-hoefler.png ">
		<p class="hlr-char-name">Hoefler Text</p>
	</article> {# /hlr-char #}

</section> {# /hlr-chars-mod #}