<section class="hlr-type-slider">

	<article class="hlr-type-imgs" id="hlr-type-container">
		<div class="hlr-type-mask-mod hlr-type-img-hoefler">
			<div class="hlr-type-mask">
				<img class="hlr-type-img" data-img-src="/{{theme_dir}}/images/portfolio/hlr/type-slider-hoefler">
			</div> {# /hlr-type-mask #}

			<p class="hlr-type-label hlr-type-label-oldseven">Old Style 7</p>
			<p class="hlr-type-label hlr-type-label-hoefler">Hoefler Text</p>
		</div> {# /hlr-type-img-mod #}

		<img class="hlr-type-img" data-img-src="/{{theme_dir}}/images/portfolio/hlr/type-slider-oldseven">
	</article> {# /hlr-type-imgs #}

</section> {# /hlr-bg-slider #}
