<section class="hlr-type-slider">

	<article class="hlr-type-imgs">
		<div class="hlr-type-img-mod hlr-type-img-hoefler">
			<div class="hlr-type-mask">
				<img class="hlr-type-img" src="/{{theme_dir}}/images/portfolio/hlr/type-slider-hoefler.jpg ">
			</div> {# /hlr-type-mask #}
		</div> {# /hlr-type-img-mod #}

		<p class="hlr-type-label hlr-type-label-oldseven">Old Style 7</p>
		<p class="hlr-type-label hlr-type-label-hoefler">Hoefler Text</p>

		<img class="hlr-type-img" src="/{{theme_dir}}/images/portfolio/hlr/type-slider-oldseven.jpg ">
	</article> {# /hlr-type-imgs #}

	<article class="hlr-type-controls">
		<div class="hlr-type-scrubber"></div>
	</article> {# hlr-bg-controls #}

</section> {# /hlr-bg-slider #}