<section class="hlr-bg-slider site-width hlr-bg-paused">
	<article class="hlr-bg-imgs">
		<img class="hlr-bg-img hlr-bg-img-1" src="/{{theme_dir}}/images/portfolio/hlr/hlr-bg/bg-1.jpg" data-bg-path="/{{theme_dir}}/images/portfolio/hlr/hlr-bg/">
	</article> {# /hlr-bg-imgs #}

	<article class="hlr-bg-controls">
		<div class="hlr-bg-btn">
			<div class="hlr-bg-btn-play"></div>
			<div class="hlr-bg-btn-pause"></div>
		</div> {# hlr-bg-btn #}
		<div class="hlr-bg-timeline">
			<div class="hlr-bg-scrubber"></div>
		</div> {# hlr-bg-timeline #}
	</article> {# hlr-bg-controls #}

</section> {# /hlr-bg-slider #}
