<a class="home-banner" style="display:block" href="/portfolio/">
	<img class="home-banner-img" src="/wp-content/themes/blades/images/homepage/hp-hero-hlr.jpg" alt="Upstatement Banner Image, showing screens from Harvard Law Review, NPR, and Northwestern University">
</a> <!-- /home-banner -->

<div class="hp-topper-intro">
	<div class="portfolio-h-outer">
		<div class="portfolio-h-inner">
			<h1 class="txt-lg hp-intro-txt">We specialize in crafting content-focused websites for clients like <a href="/portfolio/harvard-law-review/">Harvard Law Review</a>, <a href="/portfolio/boston-globe/">BostonGlobe.com</a>, <a href="upstatement.com/portfolio/random-house/" style="white-space:nowrap;">Random House</a> and <a href="/portfolio/about-npr/">NPR</a>.</h1>
		</div><!-- /portfolio-h-inner -->
	</div><!-- /portfolio-h-outer -->
</div><!-- /hp-topper-intro -->
