{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="/{{theme_dir}}/css/custom/special-pages/hof.css">
{% endblock %}
{% block content %}

<section class="hof-container" id="hof-john">

	<div class="hof-cover">
		<div class="wrapper">
			<div class="hof-cover-text">
				<h1 class="hof-h1">John Boilard</h1>
				<h4 class="hof-overline">UPSTATEMENT HALL OF FAME</h4>
				<img class="hof-icon" src="/wp-content/themes/blades/images/hof/jpb-icon.png"/>
			</div>
		</div>
	</div>

<div class="content-wrapper">
	<div class="wrapper">
		<div class="article-txt">
			<h3>A heck of a guy</h3>
			<p>On this day back in 2008, four friends decided to start a web design firm. Or, more accurately, gave their web design operations a handy 11-letter name and handed the state of Massachusetts a $500 check. We weren’t sure how long it would last or if it could support us full-time, but it felt good to call ourselves a company. After five years, we now employ four excellent designers/developers and our work is stronger than ever. Thanks to everyone who’s made this possible: our family, friends and of course, our clients. Thanks for believing in us!</p>
		</div>
	</div>
</div>

	<div class="hof-imagebreak john-1">
		<div class="wrapper">
			<div class="hof-cover-text">
				<h3 class="hof-quote-hed">Some words about John here and here</h3>
			</div>
		</div>
	</div>


<div class="content-wrapper">
	<div class="wrapper hof-quote-wrapper">
		<h4 class="hof-overline center">Voices from his past</h4>

		<blockquote class="hof-quote-mod left">
			<p class="hof-quote-txt">"I like your entire body of work."</p>
			<p class="hof-quote-attr"><a href="http://www.twitter.com/jarednova">Jared</a></p>
		</blockquote>

		<blockquote class="hof-quote-mod center">
			<p class="hof-quote-txt">Naiiieiieiieiiieiiieiieieiiee</p>
			<p class="hof-quote-attr">Maya Gao</p>
		</blockquote>

		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">Naiiieiieiieiiieiiieiieieiiee</p>
			<p class="hof-quote-attr">Maya Gao</p>
		</blockquote>
	</div>
</div>


<div class="hof-imagebreak john-npr">
	<div class="wrapper">
		<div class="hof-cover-text">
			<h3 class="hof-quote-hed">"Retiring was my final victory. Not staying a minute too long, or a season too long, let me leave on my own terms." <em><a href="http://www.csmonitor.com/USA/Sports/2013/1102/Bill-Russell-12-quotes-about-basketball/Retirement-a-new-season">- Bill Russell</em></a></h3>
		</div>
	</div>
</div>



<div class="content-wrapper">
	<div class="wrapper">
		<div class="article-txt">
			<p>We're psyched to see what John gets up to next, it's sure to be incredible. Hooray John!</p>
		</div>
	</div>
</div>


</section> <!-- /hof-container -->

{% endblock %}
