{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="/{{theme_dir}}/css/custom/special-pages/hof.css">
{% endblock %}
{% block content %}

<section class="hof-container" id="hof-john">

	<div class="hof-cover">
		<div class="wrapper">
			<div class="hof-cover-text">
				<h1 class="hof-h1">John Boilard</h1>
				<h4 class="hof-overline">UPSTATEMENT HALL OF FAME</h4>
				<img class="hof-icon" src="/wp-content/themes/blades/images/hof/jpb-icon.png"/>
			</div>
		</div>
	</div>

<div class="content-wrapper">
	<div class="wrapper">
		<div class="article-txt">
			<h3>A heck of a guy</h3>
			<p>We first met John back in 2010 when he was a MassArt student in Mike's web design class. On 7/11/11, John stepped in to Upstatement and made it his own. Over the last couple of years John's put his indelible stamp on Upstatement's culture and had a lot of fun doing it. John leaves Upstatement to nurture his <a href="http://www.nationalposterretrospecticus.com/">National Poster Retrospecticus</a> and to continue his unique brand of <a href="http://www.jpboneyard.com">good-natured design</a> and clean livin'. We're gonna miss you, JPB!</p>
		</div>
	</div>
</div>

	<div class="hof-imagebreak john-1">
		<div class="wrapper">
			<div class="hof-cover-text">
				<h3 class="hof-quote-hed">"I'm not just a designer,<br/> I'm a man!" <br/>&mdash; <em>JPBoneyard</em></h3>
			</div>
		</div>
	</div>


<div class="content-wrapper">
	<div class="wrapper hof-quote-wrapper">
		<h4 class="hof-overline center">Voices from his past</h4>


		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">John's outlook on life is unique, inspiring and authentic. I've learned so much from him over the past three years, and will keep rooting for him in all that he does.</p>
			<p class="hof-quote-attr"><a href="http://twitter.com/m_swartz">Mike</a></p>
		</blockquote>

		<blockquote class="hof-quote-mod left">
			<p class="hof-quote-txt">"I like your entire body of work."</p>
			<p class="hof-quote-attr"><a href="http://www.twitter.com/jarednova">Jared</a></p>
		</blockquote>

		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">Kurt Vonnegut once wrote that goodbye is the 'emptiest and yet the fullest of all human messages.' To that end, John brought enthusiasm, creativity and optimism to everything he touched at Upstatement. I will miss him, his posters and that good head of hair.</p>
			<p class="hof-quote-attr"><a href="http://twitter.com/gcstaublin">Grant</a></p>
		</blockquote>


		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt"> John's positive energy, work ethic, and pure respect for every person is truly inspiring. It was a pleasure working with him, and I look forward to seeing the great things he does ahead!</p>
			<p class="hof-quote-attr"><a href="http://www.twitter.com/jeffvlahos">Jeff Vlahos</a></p>
		</blockquote>


	</div>
</div>

	<div class="hof-imagebreak john-3">
		<div class="wrapper">
			<div class="hof-cover-text">
				<h3 class="hof-quote-hed">"When John leaves, can I be director of air-drumming?" <br/>&mdash; <em>Grant Staublin</em></h3>
			</div>
		</div>
	</div>


<div class="content-wrapper">
	<div class="wrapper hof-quote-wrapper">

		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">John has a rare blend of ambition, energy, creativity, and passion that allows him to tackle any problem with vigor and grace. I'm not sure if I should be sad to see him go, or exited to see what he does next. I guess it's a bit of both.</p>
			<p class="hof-quote-attr"><a href="http://twitter.com/natronic">Nathan Hass</a></p>
		</blockquote>



		<blockquote class="hof-quote-mod center">
			<p class="hof-quote-txt">Nobody contributed more to Upstatement's style than John. Every project he touched was stronger for his illustrative eye and problem solving. But the next generation may remember him most for his role heading up Upstatement's world-renowned internship program, which in 2013 alone graduated scores of tomorrow's design luminaries.</p>
			<p class="hof-quote-attr gus">Gus Wezerek, 2013 graduate of Upstatement's internship program</p>
		</blockquote>


		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">What can I say. John has a lot of problems. Excessive farting, relentless sneezing, compulsive toothpick chewing, frequent bowel movements, and occasional racial identity crisis. But John is also one of the most fun, caring, and talented people I know. He is a good man.</p>
			<p class="hof-quote-attr">Maya Gao</p>
		</blockquote>


		<blockquote class="hof-quote-mod right">
			<p class="hof-quote-txt">[ Could not be reached for comment ] </p>
			<p class="hof-quote-attr">Tito Bottitta</p>
		</blockquote>

	</div>
</div>

<div class="hof-imagebreak john-npr">
	<div class="wrapper">
		<div class="hof-cover-text">
			<h3 class="hof-quote-hed">"Retiring was my final victory. Not staying a minute too long, or a season too long, let me leave on my own terms." <em><a href="http://www.csmonitor.com/USA/Sports/2013/1102/Bill-Russell-12-quotes-about-basketball/Retirement-a-new-season">- Bill Russell</em></a></h3>
		</div>
	</div>
</div>

</section> <!-- /hof-container -->

{% endblock %}
