@import "custom/custom-base";

.pin-bubble {
	color: #fff;
	@include rgba-bg(black, .8);
	padding: 12px;
	text-align: center;
	margin-top: 20px;
	&:before {
		@include content;
	}
	@media (max-width: 767px) {
		&:before {
			position: absolute;
			margin: -22px auto 0;
			@include triangle(top, 10px, rgba(0,0,0,.8), .9);
		}
	} //mq
	@media (min-width: 768px) {
		display: block;
		height: 150px;
		width: 150px;
		padding: 30px;
		margin-top: 0;
		z-index: 1;
		@include border-radius(100px);
		&.left {
			@include absolute(n n n -50px);
			&:before {
				@include triangle(right, 10px, rgba(0,0,0,.8), .9);
				@include absolute(69px -9px n n);
			}
		}
		&.right {
			@include absolute(n -50px n n n);
			&:before {
				@include triangle(left, 10px, rgba(0,0,0,.8), .9);
				@include absolute(69px n n -9px);
			}
		}
	} // mq
}
