@import "../components/Upbase/components/base";
@import "site/partials/variables";
@import "site/partials/universal";

.npr-video-parent {
	position: relative;
}

.npr-laptop-video-mod {
	position: absolute;
	width: 58%;
	top: 14%;
	left: 21%;
	@include border-radius(2px);
	@media (min-width: 400px) {
		top: 15%;
	}
	@media (min-width: 600px) {
		top: 16%;
	}
	@media (min-width: 800px) {
		top: 17%;
	}
	@media (min-width: 900px) {
		top: 18%;
	}
}

.npr-img-video-mod {
	width: 75%;
	margin: 0 auto 50px;
	border: 5px solid #e5e5e5;
	@media (min-width: 600px) {
		border-width: 10px;
	}
}

.npr-video {
	// exended at line 559 of bcom.scss
	width: 100%;
}

