<section class="logo-pond-mod">
	<div class="logo-pond">
		{% for item in logo_pond %}
			<a class="pond-item" href="{{TimberPost(item.link).permalink}}">
				<img class="stuff" src="{{TimberImage(item.logo).src}}" alt="{{item.link.post_title|default('Client logo')|e}}" />
			</a>
		{% endfor %}
	</div> <!-- /logo-pond -->
</section> <!-- /logo-pond -->