<div class="txt-width">
	<div class="bcom-user-mod">
		<div class="bcom-user-top-width">
			<div class="bcom-user-top">
				<div class="bcom-user-avatar-mod bcom-user-avatar-mod-1 media-block">
					<i class="bcom-user-avatar bcom-user-avatar-1"></i>
					<h3 class="bcom-avatar-title">Headliner</h3>
				</div>
				<div class="bcom-user-avatar-mod bcom-user-avatar-mod-2 media-block">
					<i class="bcom-user-avatar bcom-user-avatar-2"></i>
					<h3 class="bcom-avatar-title">For Pleasure</h3>
				</div>
			</div>
		</div>
	</div>
</div>