<div class="txt-width">
	<div class="bcom-user-mod">

		<h3 class="bcom-user-list-h">Homepage Patterns</h3>
		<ul class="bcom-user-list">
			<li class="bcom-user-item"><i class="bcom-user-icon bcom-user-icon-1"></i>Direct traffic</li>
			<li class="bcom-user-item"><i class="bcom-user-icon bcom-user-icon-2"></i>Time on site is short</li>
			<li class="bcom-user-item"><i class="bcom-user-icon bcom-user-icon-3"></i>Visits outnumber uniques</li>
			<li class="bcom-user-item"><i class="bcom-user-icon bcom-user-icon-4"></i>Bounce rate is high</li>
		</ul>
	</div>
</div>