<div class="site-width">
	<div class="bcom-stream-section noclick"  id="section-3">
		<div class="message-mod">
			<div class="stream-message stream-message-1">
				<h3 class="stream-message-h">Introducing the News&nbsp;Stream</h3>
				<p class="stream-message-p">Click through to take a peak at all of the different tease types that boston.com offers!</p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-2">
				<h3 class="stream-message-h">Breaking News in Real Time</h3>
				<p class="stream-message-p">The high mat</p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-3">
				<h3 class="stream-message-h">Never Miss a Play</h3>
				<p class="stream-message-p">Our live scoreboards mean you'll catch&nbsp;every Big&nbsp;Papi home&nbsp;run, Tom&nbsp;Brady touchdown, and Brad&nbsp;Marchand goal.</p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-4">
				<h3 class="stream-message-h">Instantly Watch Video</h3>
				<p class="stream-message-p">Who wants to wait for a page load? One&nbsp;click is all it takes to watch videos &mdash; and you won't even lose your place on the page. <em>Coming&nbsp;soon.</em></p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-5">
				<h3 class="stream-message-h">Tweets in the Stream</h3>
				<p class="stream-message-p">On Boston.com, what you say matters. That's why we're featuring your best tweets, comments, and photos right alongside our own stories.</p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-6">
				<h3 class="stream-message-h">Interactive Polls</h3>
				<p class="stream-message-p">On Boston.com, what you say matters. That's why we're featuring your best tweets, comments, and photos right alongside our own stories.</p>
			<button class="ups-btn">Next</button>
			</div>
			<div class="stream-message stream-message-7">
				<h3 class="stream-message-h">Comments</h3>
				<p class="stream-message-p">On Boston.com, what you say matters. That's why we're featuring your best tweets, comments, and photos right alongside our own stories.</p>
			<button class="ups-btn">Next</button>
			</div>
		</div>

		<div class="device-content-mod">
			<div class="ipad-browser-chrome">
				<div class="ipad-screen-mod">
					<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-filter-mobile.jpg" class="stream-img-filter"/>
					<div class="stream-img-mod">
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-button.jpg" class="stream-img-button"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-2.jpg" class="stream-img-2"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-3.jpg" class="stream-img stream-img-3"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-video.gif" class="stream-img stream-img-video"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-4.jpg" class="stream-img stream-img-4"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-5.jpg" class="stream-img stream-img-5"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-6.jpg" class="stream-img stream-img-6"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-7.jpg" class="stream-img stream-img-7"/>
						<img src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-pulse-8.jpg" class="stream-img stream-img-8"/>
					</div>
				</div>
				<i class="ipad-home-button"></i>
			</div>
		</div>				
	</div>
</div>