<div class="txt-width">
	<div class="bcom-logo-include-mod txt-width">
		<div class="bcom-logo-mod-inner bcom-logo-mod media-block">
			<i class="bcom-logo bcom-logo-bcom"></i>
			<ul class="bcom-logo-list">
				<li class="bcom-logo-item"><p class="bcom-logo-txt">Shows what’s happening right&nbsp;now in brief</p></li> 
				<li class="bcom-logo-item"><p>Fastest to break news</p></li>
				<li class="bcom-logo-item"><p>Entertaining &amp; fresh</p></li>
			</ul>
		</div>
		<div class="bcom-logo-mod-inner globe-logo-mod media-block">
			<i class="bcom-logo bcom-logo-globe"></i>
			<ul class="bcom-logo-list">
				<li class="bcom-logo-item"><p class="bcom-logo-txt">Explains the day's most important stories in detail</p></li> 
				<li class="bcom-logo-item"><p>Breaks exclusive stories</p></li>
				<li class="bcom-logo-item"><p>Intelligent &amp; on-point</p></li>
			</ul>
		</div>
	</div>
</div>