<div class="txt-width">
	<div class="bcom-logo-include-mod txt-width">
		<div class="bcom-logo-mod-inner bcom-logo-mod media-block">
			<i class="bcom-logo bcom-logo-bcom"></i>
			<p class="bcom-logo-txt">Speeds up to show what’s happening right now in brief.</p>
		</div>
		<div class="bcom-logo-mod-inner globe-logo-mod media-block">
			<i class="bcom-logo bcom-logo-globe"></i>
			<p class="bcom-logo-txt">Zooms out to tell the most important stories of the day in detail.</p>
		</div>
	</div>
</div>