<div class="bcom-video-parent portfolio-image-set image-count-1 full-width">

	<img class="bcom-laptop-img lazy viz-resp viz-mobile viz-tablet viz-desktop" data-original="h/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" data-src="/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" src="/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" alt="" id="portfolio-img-4219">

	<div class="bcom-laptop-video-mod">
		<video class="bcom-video" preload="auto" autoplay="autoplay" loop poster="/{{theme_dir}}/images/portfolio/bcom/bcom-cover.jpg">
			 <source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-site-tour.mp4" type="video/mp4" />
			 <source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-site-tour.ogv" type="video/ogg" />
		</video>
	</div> <!-- /video-mod --> 

</div> <!-- -->