
<div class="bcom-social-card-mod">
	<div class="bcom-swiper-container swiper-container">
		<div class="swiper-wrapper">
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards10.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards9.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards4.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards5.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards7.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards1.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards8.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards6.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards3.jpg">
			</div>
			<div class="bcom-swiper-slide swiper-slide">
				<img class="bcom-card-img" src="../../wp-content/themes/blades/images/portfolio/bcom/bcom-cards2.jpg">
			</div>
		</div>
	</div>
		<button class="bcom-card-btn bcom-card-btn-next">Next</button>
		<button class="bcom-card-btn bcom-card-btn-prev">Prev</button>
</div>
