<div class="pull-quote-mod">
	<h2 class="pull-quote">&ldquo;Great digital journalists consume and produce 
content at the same time, constantly publishing what they are reading and hearing.&rdquo;</h1>
	<h3 class="pull-quote-author">David Carr
</h3>
	<h4 class="pull-quote-title">New York Times Media Critic<h4>
</div> <!-- -->