<div class="site-width">
	<div class="npr-video-mod">
		<video class="npr-video embed" preload="auto" poster="../../wp-content/themes/blades/images/portfolio/npr/npr-cover.jpg">
			 <source src="../../wp-content/themes/blades/images/portfolio/npr/npr-scrolling.mp4" type="video/mp4" />
			 <source src="../../wp-content/themes/blades/images/portfolio/npr/npr-scrolling.webm" type="video/webm" />
		</video>
	</div> <!-- /video-mod --> 
</div> <!-- /site-width -->