<div class="npr-video-parent portfolio-image-set image-count-1 full-width">

	<img class="lazy viz-resp viz-mobile viz-tablet viz-desktop" data-original="h/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" data-src="/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" src="/wp-content/uploads/2013/11/NPR-home-macbook-blank.jpg" alt="" id="portfolio-img-4219">

	<div class="npr-video-mod">
		<video class="npr-video" preload="auto" autoplay="autoplay" loop poster="../../wp-content/themes/blades/images/portfolio/npr/npr-cover.jpg">
			 <source src="../../wp-content/themes/blades/images/portfolio/npr/npr-scrolling.mp4" type="video/mp4" />
			 <source src="../../wp-content/themes/blades/images/portfolio/npr/npr-scrolling.webm" type="video/webm" />
		</video>
	</div> <!-- /video-mod --> 

</div> <!-- -->