<div class="site-width">
	<div class="video-mod">
		<iframe src="//www.youtube.com/embed/hjokE8EItL4" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="portfolio-desc txt-width">
		<h2 class="h2 portfolio-desc-h">Easy to setup: no code required</h2>
			<div class="txt-lg portfolio-desc-txt">
				<p>It used to take weeks for Random House to create a site. Now the technical process takes literally minutes. We used the WordPress customizer to make it simple for a marketer to create a fresh website for their book title or author.</p>
			</div>
		</div>
</div>